<div class="content-table">
	<legend><h2>Clientes</h2></legend>
	
	<%= link_to 'Agregar +', clientes_new_path, class: 'btn btn-primary' %>
	<br>
	<% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div>
  <% end %>
	  <br>
	
	<%= search_form_for @search, :remote=>"true", url: clientes_path, :method => :get do |f| %>
		<%= f.text_field :nombre_cont %>
		<%= f.submit %>
	<% end %>
	<br>
	<div id="clientes">
	<%= render "clientes" %> 
	</div>

</div>
