<div class="table-responsive">	
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<th>Rut</th>
				<th>Nombre</th>
				<th>Apellido Paterno</th>
				<th>Apellido Materno</th>
				<th>Dirección</th>
				<th>Telefono</th>
				<th>Calzado</th>
				<th>Oberol</th>
				<th>Chaleco</th>
			</thead>			
			<tbody>
			<% @operador.each do |ope| %>
				<tr>				
					<td><%= ope.rut.to_s + "-" + ope.dv %></td>
					<td><%= ope.nombre %></td>
					<td><%= ope.apellido_p %></td>
					<td><%= ope.apellido_m %></td>
					<td><%= ope.direccion %></td>
					<td><%= ope.telefono %></td>
					<td><%= ope.calzado %></td>
					<td><%= ope.oberol %></td>
					<td><%= ope.chaleco %></td>
					<td><%= link_to "Mostrar", operador_path(ope), class: "btn btn-info" %></td>
					<td><%= link_to "Editar", edit_operador_path(ope), class: "btn btn-success" %></td>
					
				</tr>
			<% end %>
			</tbody>
		</table>
		
	<% # paginate @operador %>	
	<div id="page_links"> 
	<div id="pagination">
	<%= paginate @operador, renderer: BootstrapPagination::Rails %>	
	</div>
	</div>