<legend>Reports</legend>

<table class="table table-striped table-hover table-bordered">
			<thead>
				<th>Numero</th>
				<th>Fecha</th>
				<th>Maquina</th>
				<th>Nombre</th>
			</thead>			
			<tbody>
			<% @reports.each do |rep| %>
				<tr>				
					<td><%= rep.numero %></td>
					<td><%= rep.fecha %></td>
					<td><%= Maquina.find(Arriendo.find(rep.arriendo_id).maquina_id).nombre + " ( " +
					Maquina.find(Arriendo.find(rep.arriendo_id).maquina_id).patente+ " )"  %></td>
					<td><%= rep.nombre %></td>						
				</tr>
			<% end %>
			</tbody>
</table>
<%= paginate @reports %>	
		
	