<div class="content-table">

	<%= link_to 'Agregar +', operadors_new_path, class: 'btn btn-primary' %>
	<br><br>
	<% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div>
    <% end %>
	
	<br>
	
	<%= search_form_for @search, :remote=>"true", url: operadors_path, :method => :get do |f| %>
		<%= f.text_field :nombre_cont %>
		<%= f.submit %>
	<% end %>
	<br><br>
	<div id="operadors">
	<%= render "operadors" %> 
	</div>

</div>