<div class="content-table">
<legend><h2>Repuestos</h2></legend>
  <%= link_to 'Agregar +', repuestos_new_path, class: "btn btn-primary" %>
  <br><br>

  <% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <th>Codigo</th>
        <th>Repuesto</th>
        <th>Descripcion</th>
        <th>Tipo</th>
        <th>Stock</th>
    

      </thead>
      <tbody>
      <% @repuesto.each do |repuesto| %>
        <tr>
          <td><%= repuesto.codigo %></td>
          <td><%= repuesto.nombre %></td>
          <td><%= repuesto.descripcion %></td>
          <td><%= TipoRepuesto.find(repuesto.tipo_repuesto_id).nombre %></td>
          <td><%= repuesto.stock %></td>
          
          <td><%= link_to "Mostrar", repuesto_path(repuesto), class: "btn btn-info" %></td>
          <td><%= button_to "Eliminar", repuesto, data: {confirm: "Desea Eliminar '#{repuesto.nombre}'?"}, method: :delete, class: "btn btn-danger" %></td>
          <td><%= link_to "Editar", edit_repuesto_path(repuesto), class: "btn btn-success" %></td>

        </tr>
        <% end %>
      </tbody>
      
    </table>
  </div>
</div>