<div class="contentForm">
<%= link_to 'Volver', operadors_path, class: "btn btn-warning" %><br>
<legend>Editar Multa</legend>

	<%= bootstrap_form_for (@multa)  do |f| %>
	<div class="form-group">

		<%= f.date_field :fecha, label: "Fecha Infracción", :required => true %>
		<%= f.text_field :lugar, label: "Lugar" %>
		<%= f.text_field :descripcion, label: "Descripción", :required => true %>
		<%= f.number_field :total_multa, label:"Valor Multa", :required => true %>
		
		<%= f.primary 'Editar' %>
	
	</div>
	
	<% end %>
	
</div>
