<div class="contentForm">
<legend>Ingresar Repuesto</legend>
 <% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div>
  <% end %>

  <%= bootstrap_form_for (@repuesto)  do |f| %>
  <div class="form">
    <%= f.file_field :foto %>
    
    <%= f.text_field :nombre %>
    <div class="form-inline">
    <div class="form-group">
    <%= f.collection_select :tipo_repuesto_id, TipoRepuesto.all, :id, :nombre %>
    <%= link_to "Agregar +", tipo_repuestos_new_path, data:{modal:true} ,  class: "btn btn-primary" %>
    
    </div>
    </div>
    <%= f.text_field :codigo %>

    <%= f.text_area :descripcion %>

    <%= f.number_field :stock %>
	
	<%= f.number_field :costo_unidad, label: "Costo Unitario" %>
    
      <%= f.primary 'Guardar' %>
   </div>

  <% end %>
  </div>