<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <th>Codigo</th>
        <th>Maquina</th>
        <th>Tipo de Maquinaria</th>
        <th>Estado Maquinaria</th>
        <th>Patente</th>
        <th>Chasis</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Año</th>
        <th>Valor Hora</th>
        <th>Valor Dia</th>
        <th>Kilometraje Actual</th>
        <th>Horometro Actual</th>
      <tbody>
      <% @maquina.each do |maquina| %>
        <tr>
          <td><%= maquina.codigo %></td>
          <td><%= maquina.nombre %></td>
          <td><%= TipoMaquina.find(maquina.tipo_maquina_id).nombre %></td>
          <td><%= EstadoMaquina.find(maquina.estado_maquina_id).nombre %></td>
          <td><%= maquina.patente %></td>
          <td><%= maquina.chasis %></td>
          <td><%= maquina.marca %></td>
          <td><%= maquina.modelo %></td>
          <td><%= maquina.anio %></td>
          <td><%= maquina.valor_hora %></td>
          <td><%= maquina.valor_dia %></td>
          <td><%= maquina.km_actual %></td>
          <td><%= maquina.horometro_actual %></td>
         
          <td><%= link_to "Mostrar", maquina_path(maquina), class: "btn btn-info" %></td>
          <td><%= button_to "Eliminar", maquina, data: {confirm: "Desea Eliminar '#{maquina.nombre}'?"}, method: :delete, class: "btn btn-danger" %></td>
          <td><%= link_to "Editar", edit_maquina_path(maquina), class: "btn btn-success" %></td>

        </tr>
        <% end %>
      </tbody>
     
	 </table> 
<%= will_paginate @maquina, renderer: BootstrapPagination::Rails %>	 
  </div> 
  