<div class="content-table">
  <%= link_to 'Agregar +', maquinas_new_path, class: "btn btn-primary" %>
  <% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div>
  <% end %>
  <br><br>
	<%= bootstrap_form_tag :method => "get", html:{id: "maquina_search"} do %>
		<%= text_field_tag :search, params[:search] %>
		 <%= submit_tag 'Buscar' %>
	<% end %>
	
  <br><br>
	
  <br>  
  
  

      </thead>
  <div id="maquinas">
  <%= render "maquinas" %> </div>
   
    
</div>