<div class="content-table">
<legend><h2>Máquinas</h2></legend>
  <%= link_to 'Agregar +', maquinas_new_path, class: "btn btn-primary" %>
  <% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div>
  <% end %>
  <br><br>
	
	<%= search_form_for @search, :remote=>"true", url: maquinas_path, :method => :get do |f| %>
		<%= f.text_field :nombre_cont %>
		<%= f.submit %>
	<% end %>
	<br>
	
	<div id="maquinas">
	<%= render "maquinas" %> 
	</div>
	
</div>
  <br>
   
    
</div>