
<div class="contentForm">
<legend>Mecanicos-Planificacion</legend>

  <%= bootstrap_form_for (@mecanicos_planificacion)  do |f| %>
  <div class="form-group">
    
    
	
	<%= f.hidden_field :planificacion_id, value: params[:id] %>

    <%= f.collection_select :mecanico_id, Mecanico.all, :id, :nombre %>


    <%= f.number_field :horas_mecanico%>

    
      <%= f.primary 'Guardar' %>
   </div>

  <% end %>

</div>
