<div class="table-responsive">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<th>Nombre</th>
				<th>Codigo</th>
				<th>Ubicacion</th>
				<th>Capacidad Usada</th>
				<th>Capacidad Total</th>
			</thead>
			
			<tbody>
				<% @estanque_fijo.each do |tank| %>
				<tr>
				
					<td><%= tank.nombre %></td>
					<td><%= tank.codigo %></td>
					<td><%= tank.ubicacion %></td>
					<td><%= tank.capacidad %></td>
					<td><%= tank.litros_actual %></td>
					<td><%= link_to "Mostrar", estanque_fijo_path(tank), class: "btn btn-info" %></td>
					<td><%= button_to "Eliminar", tank, data: {confirm: "Desea Eliminar '#{tank.nombre}'?"}, method: :delete, class: "btn btn-danger" %></td>
					<td><%= link_to "Editar", edit_estanque_fijo_path(tank), class: "btn btn-success" %></td>
					
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<% # paginate @estanque_fijo %>	
	<div id="page_links"> 
	<div id="pagination">
	<%= paginate @estanque_fijo, renderer: BootstrapPagination::Rails %>	
	</div>
	</div> 