<div class="contentForm">
<legend>Ingresar Multa</legend>
	<%= bootstrap_form_for(@infraction, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
	<div class="form-group">
		<%= f.hidden_field :operador_id, value: params[:id] %>
		<%= f.date_field :fecha, label: "Fecha Infracción", :required => true %>
		<%= f.text_field :lugar, label: "Lugar" %>
		<%= f.text_field :descripcion, label: "Descripción", :required => true %>
		<%= f.number_field :total_multa, label:"Valor Multa", :required => true %>		
		<%= f.primary 'Guardar' %>	
	</div>	
	<% end %>
	
</div>
