<div class="contentForm">
<legend>Carga de Combustible</legend>

  
  <%= bootstrap_form_for(@carga, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
  
  <div class="form-group">
    
    
	
	<%= f.hidden_field :maquina_id, value: params[:id] %>

    <%= f.collection_select :fuente_combustible_id, FuenteCombustible.all, :id, :nombre %>

    <%= f.number_field :litros_cargados%>
	
	<%= f.number_field :numero_report%>
	
	<%= f.date_field :fecha%>
	
	<%= f.text_field :lugar%>
	
	<%= f.number_field :horometro%>
	
	<%= f.number_field :kilometraje%>

    
      <%= f.primary 'Guardar' %>
   </div>

  <% end %>

</div>