<div class="content-table">
	<legend><h2>Facturas</h2></legend>
	
	<%= link_to 'Agregar +', facturas_new_path, class: 'btn btn-primary' %>
	<br>
	<% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div>
  <% end %>
	  <br>
	  
	<%= search_form_for @search, :remote=>"true", url: facturas_path, :method => :get do |f| %>
		<%= f.label :"Numero Factura" %>
		<%= f.number_field :numero_cont %>
		<%= f.label :"Intervalo Fecha Factura" %>
		<%= f.date_field :fecha_gteq %>
		<%= f.date_field :fecha_lteq %>
		<%= f.submit :value => "Buscar"  %>
	<% end %>
	<br>
	<div id="facturas">
	<%= render "facturas" %> 
	</div>	  

</div>