<div class="content-table">
<legend><h2>Planificación - <%= Maquina.find(@planificacion.maquina_id).nombre %> - <%= @planificacion.fecha %></h2></legend>
    <%= link_to 'Volver', planificacions_path, class: "btn btn-primary" %>
    <br><br>
    
    <%=  %>

		<div id="mecanicos">	
		<%= render "mecanicos" %></div>
	
		
		<div id="repuestos"><%= render "repuestos" %></div>
		
		<%= render "orden_trabajos" %>
		
		
		<div id="facturas"> <%= render "facturas" %> </div>
		
		<legend>Editar Planificación</legend>
		
		<div class="form-group">
		   <div class="contentForm">
		   
		<%= bootstrap_form_for (@planificacion)  do |f| %>   
            <%= f.select :maquina_id, [["#{Maquina.find(@planificacion.maquina_id).nombre}", @planificacion.maquina_id]], {label: "Maquina"}, {class: "selectpicker"} %>

            <%= f.date_field :fecha %>

            <%= f.text_area :descripcion %>
            
            <%= f.select :estado, [["Abierta"], [ "Cerrada"]], { label: "Estado" }, { class: "selectpicker" } %>

            <%= f.select :tipo, [["Mantencion"], [ "Reparacion"]], { label: "Tipo" }, { class: "selectpicker" } %>

            <%= f.number_field :horometro%>

            <%= f.number_field :kilometraje %>

            <%= f.number_field :total_hh %>

            <%= f.select :taller_externo, [["NO"], [ "SI"]], {label: "Taller Externo"}, {class: "selectpicker"} %>

            <%= f.select :factura_pendiente, [["NO"], [ "SI"]], {label: "Factura Pendiente"}, {class: "selectpicker"} %>

            
        
          <%= f.primary 'Editar' %>
       </div>
       

      <% end %>
      </div>

  </div>