
<div class="contentForm">
<%= link_to 'Volver', clientes_path, class: "btn btn-warning" %><br>
<legend>Ingresar Proveedor</legend>

	<%= bootstrap_form_for (@proveedor)  do |f| %>
	<div class="form-group">
		<div class="form-inline"><div class="form-group">	
		<%= f.number_field :rut, :maxlength => 8, label: "Rut  :", :required => true %>
		<%= f.text_field :dv, label: "- " %>
		</div></div>
		<%= f.text_field :nombre, label: "Proveedor", :required => true %>
		<%= f.text_field :direccion %>
		<%= f.text_field :telefono %>
		<%= f.email_field :email, label: "Email" %>
		<%= f.text_field :giro %>
		
		<%= f.primary 'Guardar' %>
	
	</div>
	
	<% end %>
	
</div>