<div class="contentForm">
<%= bootstrap_form_for(@orden_trabajo, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
  <div class="form-group">
    
    
	
	<%= f.hidden_field :planificacion_id, value: params[:id] %>

    <%= f.date_field :fecha %>

    <%= f.text_field :detalle %>
    
      <%= f.primary 'Guardar' %>
	  
   </div>
   
<% end %>

</div>