<div class="content-table">
	<%= link_to 'Agregar +', estado_maquinas_new_path, class: "btn btn-primary" %>
  <br><br>
	<% if !flash[:notice].blank? %>
	   <div class = "alert alert-info">
	      <%= flash[:notice] %>
	   </div>
	<% end %>

	<div class="table-responsive">
	  <table class="table table-striped table-hover ">
	    <thead>
	      <th>Estado de Maquinaria</th>

	    </thead>
	    <tbody>
	    <% @estado_maquina.each do |estado_maquina| %>
	      <tr>
	        <td><%= estado_maquina.nombre %></td>
	        <td><%= button_to "Eliminar", estado_maquina, method: :delete, class: "btn btn-danger",  data: {confirm: "Desea Eliminar '#{estado_maquina.nombre}'?"} %></td>
	        <td><%= link_to "Editar", edit_estado_maquina_path(estado_maquina), class: "btn btn-success" %></td>

	      </tr>
	      <% end %>
	    </tbody>
	    
	  </table>
	</div>
</div>