

<div class="contentForm">
<legend>Ingresar Planificacion</legend>

  <%= bootstrap_form_for (@planificacion)  do |f| %>
  <div class="form-group">
    
    
    <%= f.collection_select :maquina_id, Maquina.all, :id, :nombre %>

    <%= f.collection_select :estado_maquina_id, EstadoMaquina.all, :id, :nombre %>


    <%= f.date_select :fecha %>

    <%= f.text_area :descripcion %>
    
    <%= f.select :estado, [["Abierta"], [ "Cerrada"]], { label: "Estado" }, { class: "selectpicker" } %>

    <%= f.select :tipo, [["Mantencion"], [ "Reparacion"]], { label: "Tipo" }, { class: "selectpicker" } %>

    <%= f.number_field :horometro%>

    <%= f.number_field :kilometraje %>

    <%= f.number_field :total_hh %>

    <%= f.select :taller_externo, [["NO"], [ "SI"]], {label: "Taller Externo"}, {class: "selectpicker"} %>

    <%= f.select :factura_pendiente, [["NO"], [ "SI"]], {label: "Factura Pendiente"}, {class: "selectpicker"} %>

    



    
      <%= f.primary 'Guardar' %>
   </div>

  <% end %>

</div>
