<div class="content-table">
  <%= link_to 'Volver', planificacions_path, class: "btn btn-warning" %>
  <br><br>

  <br><br>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
       

      </thead>
      <tbody> 
        
        <tr><th>Maquina</th><td><%= Maquina.find(@planificacion.maquina_id).nombre %></td></tr>
        <tr> <th>Fecha</th>          <td><%= @planificacion.fecha %></td></tr>
        <tr> <th>Descripcion  </th><td><%= @planificacion.descripcion %></td></tr>
        <tr> <th>Estado  </th><td><%= @planificacion.estado %></td></tr>
        <tr> <th>Tipo </th><td><%= @planificacion.tipo %></td></tr>
        <tr> <th>Taller Externo  </th><td><%= @planificacion.taller_externo %></td></tr>
        <tr> <th>Factura Pendiente  </th><td><%= @planificacion.factura_pendiente %></td></tr>





      </tbody>
    </table>
    

  </div>
</div>