<div class="contentForm">
<legend>Ingresar Mecacnico</legend>

  <%= bootstrap_form_for (@mecanico)  do |f| %>
  <div class="form-group">
    
    <%= f.file_field :foto %>

    <div class="form-inline">
        <div class="form-group">
        <%= f.collection_select :tipo_mecanico_id, TipoMecanico.all, :id, :nombre %>
        <%= link_to "Agregar +", tipo_mecanicos_new_path, data:{modal:true}, class: "btn btn-primary" %>
       
        </div>
    </div>
<br>
    <div class="form-inline">
        <div class="form-group">
        
            <%= f.number_field :rut, :maxlength => 8 %>
            <%= f.text_field :dv, :size => 4 %>

        </div>
    </div>

    <%= f.text_field :nombre %>

    <%= f.text_field :apellido_paterno %>

    <%= f.text_field :apellido_materno %>

    <%= f.number_field :jornada %>

    <%= f.number_field :valor_hora %>
    
      <%= f.primary 'Guardar' %>
   </div>

  <% end %>
  </div>

  <script type="text/javascript">

 

 $("#mecanico_rut").on('change',
  function(){

   $("#mecanico_dv").val(calculaDigitoVerificador($("#mecanico_rut").val()));

  });

  </script>
