<%  if (Planificacion.where("fecha <= '"+Date.today.to_s+"' and estado = 'Abierta'").count > 0 ) %>
<button id="notiButton">
	<span class="fa fa-bell fa-fw"></span>
	<span class="num"><%= Planificacion.where("fecha <= '"+Date.today.to_s+"' and estado = 'Abierta'").count %>  </span>
	<span class="fa fa-caret-down"></span>
</button>	
	<nav id="panel-notificacion">
	<ul >
		<li class="dropdown">				
			<ul class="dropdown-menu" id="panel-notifica">			
				<% Planificacion.all.each do |pl| 
					if pl.estado == "Abierta"
						if Date.today >= pl.fecha
				%>		
						<li>
							<a href="<%= edit_planificacion_path(pl.id) %>">
								<div>
									<i class="fa fa-exclamation-circle"></i>Planificacion de <%= Maquina.find(pl.maquina_id).nombre %>
									<span class="pull-right text-muted small" id="fecha_noti<%= pl.id %>"/>
									<script>
										var fecha = moment("<%= pl.fecha %>");
										fecha.locale('es');
										$("#fecha_noti<%= pl.id %>").html(fecha.fromNow());
										
									</script>
									</span>
								</div>
							</a>
						</li>
						<li role="separator" class="divider"></li>
						<% 
						end
					end	
				end
				%>
			</ul>			
		</li>
	</ul>
	</nav>
<% end %>