<div class="content-table">
  <%= link_to 'Volver', mecanicos_path, class: "btn btn-primary" %>
  <br><br>

 <% if @mecanico.foto.blank? %>
      <%= image_tag "SINFOTO.png", class: "img-thumbnail" %>
  <% else %>
      <img class="img-thumbnail" alt="Foto" width="50%" src="<%= @mecanico.foto_url %>">
      
  <% end %>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <th>Rut</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Especialidad</th>
        <th>Jornada</th>
        <th>Valor Hora</th>

      </thead>
      <tbody>
        <tr>
          <td><%= @mecanico.rut.to_s + "-" + @mecanico.dv%></td>
          <td><%= @mecanico.nombre %></td>
          <td><%= @mecanico.apellido_paterno %></td>
          <td><%= @mecanico.apellido_materno %></td>
          <td><%= TipoMecanico.find(@mecanico.tipo_mecanico_id).nombre %></td>
      	  <td><%= @mecanico.jornada  %></td>
      	  <td><%= @mecanico.valor_hora  %></td>

        </tr>
      </tbody>
      
    </table>
  </div>
</div>
