<div class="content-table">
	<legend><h2>Reports Diarios Arridendo</h2></legend>
	<br><br>
	<% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div>
  <% end %>
  <%= search_form_for @search, :remote=>"true", url: reports_path, :method => :get do |f| %>
		<%= f.label "Nombre" %>
		<%= f.text_field :nombre_cont %>
		<%= f.label :"Intervalo Fecha" %>
		<%= f.date_field :fecha_gteq %>
		- <%= f.date_field :fecha_lteq %>
		<%= f.submit :value=>"Buscar" %>
	<% end %>
	<div id="reports">
		<%= render "reports" %>
	</div>
</div>