<div class="table-responsive">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<th>Fecha Arriendo</th>
				<th>Fecha Entrega</th>
				<th>Comentario</th>
				<th>Descuento</th>
				<th>Total Arriendo</th>
				<th>Nombre Faena</th>
				<th>Comuna</th>
				<th>Cliente</th>
				<th>Maquina</th>
				<th>Estado</th>
			</thead>
			
			<tbody>
			<% @arriendo.each do |arriendo| %>
				<tr>
				
					<td><%= arriendo.fecha_arriendo %></td>
					<td><%= arriendo.fecha_entrega %></td>
					<td><%= arriendo.comentario %></td>
					<td><%= arriendo.descuento %></td>
					<td><%= arriendo.total_arriendo %></td>
					<td><%= arriendo.nombre_faena %></td>
					<td><%= arriendo.comuna_id %></td>
					<td><%= Cliente.find(arriendo.cliente_id).nombre %></td>
					<td><%= Maquina.find(arriendo.maquina_id).nombre %></td>
					<td><%= arriendo.estado %></td>
					<td><%= link_to "Mostrar", arriendo_path(arriendo), class: "btn btn-info" %></td>
					<td><%= link_to "Editar", edit_arriendo_path(arriendo), class: "btn btn-success" %></td>
					
				</tr>
				<% end %>
			</tbody>
		</table>
	<% # paginate @arriendo %>	
	<div id="page_links"> 
	<div id="pagination">
	<%= paginate @arriendo%>	
	</div>
	</div>