<div class="contentForm">
<legend>Ingresar Arriendo</legend>

	<%= bootstrap_form_for (@arriendo)  do |f| %>
	<div class="form-group">	
		<%= f.date_field :fecha_arriendo %>
		<%= f.date_field :fecha_entrega %>
		<%= f.text_field :comentario %>
		<%= f.number_field :descuento, value: 0 %>
		<%= f.number_field :total_arriendo, label: "Valor Arriendo", :disabled=>true , value: 0 %>
		<%= f.text_field :nombre_faena, label: "Faena" %>
		<%= f.select :estado, [["Facturado"], ["Abierta"], ["No Facturado"]], { label: "Estado" }, { class: "selectpicker" } %>
		<%= f.collection_select :maquina_id, Maquina.all, :id, :nombre %>
		<%= f.collection_select :cliente_id, Cliente.all, :id, :nombre %>

		
		<%= f.primary 'Guardar' %>
	
	</div>
	
	<% end %>
	
</div>
