<div class="content-table">
	<legend><h2>Arriendo - Fecha:<%= @arriendo.fecha_arriendo %></h2></legend>
	<%= link_to 'Volver', arriendos_path, class: 'btn btn-warning' %>
	<br><br>
	<% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div>
  <% end %>
	<div class="table-responsive">
	<legend>Reportes</legend>
	<h5>Cantidad de Reports:<%= @report.count %></h5>
	<h5>Horas Total:<%= @report.sum(:horas) %></h5>
	<%= link_to 'Nuevo Reporte', reports_new_path(id: @arriendo.id), class: "btn btn-primary" %><br>
	
	<%= search_form_for @search, :remote=>"true", url: arriendo_path(@arriendo.id), :method => :get do |f| %>
			<%= f.label :nombre %>
			<%= f.text_field :nombre_cont %>
			<%= f.label :'Intervalos de Fecha de Arriendo: ' %><%= f.date_field :fecha_gteq %>
			<%= f.date_field :fecha_lteq %>
			<%= f.submit :value => "Buscar"  %>
		<% end %>
	
		<div id="reports"><%= render "reports" %></div>
		
		<table class="table table-striped table-hover table-bordered">

			<tbody>

				
					<tr><td>Fecha Arriendo</td><td><%= @arriendo.fecha_arriendo %></td></tr>
					<tr><td>Fecha Entrega</td><td><%= @arriendo.fecha_entrega %></td>
					<tr><td>Descripción</td><td><%= @arriendo.comentario %></td></tr>
					<tr><td>Descuento</td><td><%= @arriendo.descuento %></td></tr>
					<tr><td>Total Arriendo</td><td><%= @arriendo.total_arriendo %></td></tr>
					<tr><td>Nombre Faena</td><td><%= @arriendo.nombre_faena %></td></tr>
					<tr><td>Comuna</td><td><%= @arriendo.comuna_id %></td></tr>
					<tr><td>Cliente</td><td><%= Cliente.find(@arriendo.cliente_id).nombre %></td></tr>
					<tr><td>Máquina</td><td><%= Maquina.find(@arriendo.maquina_id).nombre %></td></tr>
					<tr><td>Estado Arriendo</td><td><%= @arriendo.estado %></td></tr>
					<tr><td><%= link_to "Editar", edit_arriendo_path(@arriendo), class: "btn btn-success" %></td></tr>
					

			</tbody>
		</table>
	</div>