<div class="content-table">
	<legend><h2>Proveedores</h2></legend>
	
	<%= link_to "Agregar +", proveedors_new_path, data: { modal: true }, class: 'btn btn-primary' %>
	<br>
	<% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div>
  <% end %>
	  <br>
	
	<%= search_form_for @search, :remote=>"true", url: proveedors_path, :method => :get do |f| %>
		<%= f.text_field :nombre_cont %>
		<%= f.submit %>
	<% end %>
	<br><br>
	<div id="proveedors">
	<%= render "proveedors" %> 
	</div>

</div>