<div class="content-table">

	<legend><h2><%= @proveedor.nombre %></h2></legend>
	<%= link_to 'Volver', proveedors_path, class: "btn btn-primary" %>
	<br>
	<% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div><br>
  <% end %>
	<div class="table-responsive">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<th>Datos del Proveedor<th>
			</thead>
			<tbody>
					<tr><td>Rut</td><td><%= @proveedor.rut.to_s + "-" + @proveedor.dv %></td></tr>
					<tr><td>Nombre</td><td><%= @proveedor.nombre %></td></tr>
					<tr><td>Dirección</td><td><%= @proveedor.direccion %></td></tr>
					<tr><td>Contacto</td><td><%= @proveedor.nombre %></td></tr>
					<tr><td>Telefono</td><td><%= @proveedor.telefono %></td></tr>
					<tr><td>Correo</td><td><%= @proveedor.email %></td></tr>
					<tr><td>Giro</td><td><%= @proveedor.giro %></td></tr>
					<tr><td><%= link_to "Editar", edit_proveedor_path(@proveedor), class: "btn btn-success" %></td>
					<td><%= button_to "Eliminar", @proveedor, data: {confirm: "Desea Eliminar '#{@proveedor.nombre}'?"}, method: :delete, class: "btn btn-danger" %></td></tr>
			</tbody>
		</table>
	</div>

</div>
