<div class="contentForm">
<legend>Editar Factura</legend>

  <%= bootstrap_form_for (@factura)  do |f| %>
  <div class="form-group">
    
    <%= f.file_field :foto %>
    <%= f.number_field :numero, :required => true %>
	<%= f.text_field :descripcion %>
	<%= f.date_field :fecha, :required => true %>
	<%= f.number_field :neto %>
	<%= f.number_field :total %>
    <%= f.collection_select :maquina_id, Maquina.all, :id, :nombre %>
    <%= f.collection_select :tipo_factura_id, TipoFactura.all, :id, :nombre %>
	<%= f.collection_select :proveedor_id, Proveedor.all, :id, :nombre %>
    
      <%= f.primary 'Editar' %>
   </div>

  <% end %>
  </div>
  
  <script type="text/javascript">
  var calculoBruto = function (neto){
	var x = neto*1.19;
	var bruto = Math.round(x);
	return bruto
  }
   $("#factura_neto").on('change',
  function(){

   $("#factura_total").val(calculoBruto($("#factura_neto").val()));

  });
  </script>
