<div class="content-table">

	<br><br>
	<% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div>
  <% end %>
	<div class="table-responsive">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<th>Nombre</th>
				<th>Fecha</th>
				<th>Horas</th>
				<th>Numero</th>
				<th>ArriendoID</th>
				<th>Detalle</th>
				<th>Horometro Inicial</th>
				<th>Horometro Final</th>
			</thead>
			
			<tbody>
				<tr>
				
					<td><%= @report.nombre %></td>
					<td><%= @report.fecha %></td>
					<td><%= @report.horas %></td>
					<td><%= @report.numero %></td>
					<td><%= @report.arriendo_id %></td>
					<td><%= @report.detalle %></td>
					<td><%= @report.horometro_inicial %></td>
					<td><%= @report.horometro_final %></td>
					<td><%= link_to "Mostrar", report_path(@report), class: "btn btn-info" %></td>
					<td><%= button_to "Eliminar", @report, data: {confirm: "Desea Eliminar '#{@report.nombre}'?"}, method: :delete, class: "btn btn-danger" %></td>
					<td><%= link_to "Editar", edit_report_path(@report), class: "btn btn-success" %></td>
					
				</tr>
			</tbody>
		</table>
	</div>
