<div class="contentForm">
<legend><h2>Ingresar Fuente de Combustible</h2></legend>
<%= link_to 'Volver', fuente_combustibles_path, class: "btn btn-primary" %><br>


	<%= bootstrap_form_for (@fuente_combustible)  do |f| %>
	<div class="form-group">
		<%= f.text_field :nombre, label: "Fuente", :required => true %>
		<%= f.text_field :codigo %>
		<%= f.number_field :litros_combustible, label: "Litros" %>
		<%= f.number_field :capacidad %>
		
		<%= f.primary 'Guardar' %>
	
	</div>
	
	<% end %>
	
</div>