<div class="content-table">

	<legend><h2><%= @fuente_combustible.nombre %></h2></legend>
	<%= link_to 'Volver', fuente_combustibles_path, class: "btn btn-primary" %>
	<br>
	<% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div><br>
  <% end %>
	<div class="table-responsive">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<th>Datos del Cliente<th>
			</thead>
			
			<tbody>
				
					<tr><td>Nombre</td><td><%= @fuente_combustible.nombre %></td></tr>
					<tr><td>Codigo</td><td><%= @fuente_combustible.codigo %></td></tr>
					<tr><td>Capacidad</td><td><%= @fuente_combustible.capacidad %></td></tr>
					<tr><td>Litros</td><td><%= @fuente_combustible.litros_combustible %></td></tr>
					<tr><td><%= link_to "Editar", edit_fuente_combustible_path(@fuente_combustible), class: "btn btn-success" %></td>
					<td><%= button_to "Eliminar", @fuente_combustible, data: {confirm: "Desea Eliminar '#{@fuente_combustible.nombre}'?"}, method: :delete, class: "btn btn-danger" %></td></tr>
					
			</tbody>
		</table>
	</div>

</div>
